.dark-mode {
    background-color: #192229;
    h1, h2, h3, h4{
        color: #EFF3F5;
    }
    p, label {
        color: #C8CDD0;
    }
    .contenido-anuncio, .resumen-propiedad {
        background-color: #212E36;
        border: 1px solid #2A3B47;
        .precio {
            color: $blanco;
        }
        .icono {
        filter: invert(100%);
        }
    }
}