html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: $fuenteTexto;
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: $blanco;
}
p {
    color: $negro;
    font-size: 2rem;
    font-family: $fuenteTexto;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
img,
picture {
    width: 100%;
    display: block;
}
h1,
h2,
h3 {
    margin: calc($separacion / 2) 0;
    text-align: center;
}
h1 {
    font-family: $fuenteTitulo;
    font-size: 3.8rem;
    font-weight: 700;
}
h2 {
    font-family: $fuenteSubtitulo;
    font-size: 3.4rem;
    font-weight: 700;
}
h3 {
    font-family: $fuenteSubtitulo;
    font-size: 3rem;
    font-weight: 600;
}
h4 {
    font-family: $fuenteSubtitulo;
    font-size: 2.6rem;
    font-weight: 600;
}
