@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500;600;700&family=Montserrat:wght@300;700;900&family=Work+Sans:wght@500&display=swap");

// Fuentes:
$fuenteTitulo: 'Montserrat', sans-serif;
$fuenteSubtitulo: 'Hind Madurai', sans-serif;
$fuenteTexto: 'Work Sans', sans-serif;

//Media Queries:
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;

// Paleta de Colores:
$negro: #2A3B47;
$blanco: #FBFBFE;
$grisClaro: #A0A7AC;
$grisOscuro: #697477;
$azul: #1083D6;
$acero: #2A3B47;
$rojo: #b91c1c;
$verde: #15803d;
$amarillo: #fde047;

// Distancias:
$separacion: 4rem;