.alerta {
    padding: .5rem;
    text-align: center;
    color: $blanco;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem 0;
    border-radius: .5rem;
    font-size: 1.3rem,;
    @include tablet {
        font-size: 1.6rem;
    }
    &.error {
        background-color: $rojo;
    }
    &.exito {
        background-color: $verde;
    }
}
table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    text-align: center;
    font-size: 1.2rem;
    @include tablet {
        font-size: 1.6rem;
    }

    thead {
        background-color: $verde;
        font-size: 1.2rem;
        th{
            color: $blanco;
            padding: .5rem 1rem;
            @include tablet {
                padding: .5rem 1.8rem;
            }
        }
        @include tablet {
            font-size: 1.6rem;
        }
    }
    .imagen-tabla {
        margin: 0 auto;
        width: 8rem;
        @include tablet {
            width: 15rem;
        }
    }
}
.imagen-small{
    margin: 0 auto;
    width: 20rem;
}